.App {
  text-align: center;
  background-color:#C2D7E8;
  height: 750px;
}

  .formhandler{
    text-align: center;
    border-radius: 5px;
    position: relative;
    left: 450px;
    top: 40px;
    width: 600px;
    height: 600px;
    display: block;
    padding: 150px;
    background-color:#C2D7E8;
    
  }
.button{
  letter-spacing: 1px;
  position:absolute;
  bottom: 90px;
  left: 205px;
  border-radius: 50px;
  width: 180px;
  height: 60px;
  background-color: #1B99E5;
  color: white;
  border: 0px solid #1B99E5;
  font-size: 30px;
  
}
.icon{
  position: relative;
  bottom:100px;
}
.password{
  border-radius: 50px;
  width: 400px;
  height: 60px;
  position: relative;
  bottom: 85px;
  right: 50px;
  border: 0px solid white;
}
.email{
  border-radius: 50px;
  width: 400px;
  height: 60px;
  position: relative;
  bottom: 90px;
  right: 50px;
  border: 0px solid white;
}
.check{
  position: relative;
  display: flex;
  flex-direction: row;
  text-align: center;
  bottom: 70px;
  justify-content:space-between;
  
}
.check a{
  text-decoration: none;
  
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
